<!-- About Grid Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <p>I am a researcher at the Hasso Plattner Institute (HPI) in Potsdam Germany and part of the web university / knowledge and learning engineering team.
Before entering the academic world, i spent more than 10 years as an CTO of an internet agency. For six years i have taught students on- and offline.
In 2013 i joined the web research team at HPI and now i am working on improving the learners experience in scalable online solutions, like MOOCs for life long learning and Schul-Cloud in the school context. My research focusses on the user-centric optimization of large scale e-learning applications. Recent paper publications have dealt with mobile learning, gamification, interactive coding exercises, social learning and learning analytics. Furthermore, i am also an active Open Source Contributor. I was part of the band Team Blender, which you can still find on iTunes and co. In his spare time, he is a host of the Berlin branch of “Nerd Nite,” a global talk series offered in over 90 cities that claims to be the “Discovery Channel with beer”. Beside that i like hanging around with my daughter, running in the beautiful parks of potsdam and riding motorcyles.</p>
              </div>
            </div>
        </div>
    </section>
