<!-- About Grid Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <p>Jan Renz is a researcher at the Hasso Plattner Institute (HPI) in Potsdam Germany and part of the web university team.
Before entering the academic world, he spent more than 10 years as CTO of an internet agency. For six years he has taught students on- and offline.
In 2013 he joined the web research team at HPI and is working on improving the learners experience in MOOCs. His research focusses on the user-centric optimization of large scale e-learning applications. Recent paper publications have dealt with mobile learning, gamification, interactive coding exercises, social learning and learning analytics. Furthermore, he is also an active Open Source Contributor. In his spare time, he is a host of the Berlin branch of “Nerd Nite,” a global talk series offered in over 90 cities that claims to be the “Discovery Channel with beer.”</p>
              </div>
            </div>
        </div>
    </section>
