<!-- About Grid Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <p>I am a researcher at the Hasso Plattner Institute (HPI) in Potsdam Germany and part of the web university / knowledge and learning engineering team and CT>o of the HPI Schul-Cloud.
Before entering the academic world, i spent more than 10 years as an CTO of an internet agency. For more then 8 years i have taught students on- and offline.
In 2013 i joined the web research team at HPI and now i am working on improving the learners experience in scalable online solutions. My research focusses on the user-centric optimization of large scale e-learning applications and learning infrastructures. I finished my PhD on that topic in 2020. Sincd 2020 a am a learing technology consultant for the WHO Academy. Furthermore, i am also an active Open Source Contributor. I was part of the band Team Blender, which you can still find on iTunes and co. Beside that i like hanging around with my daughter, running in the beautiful parks of Potsdam and riding my gravel bike and motorcyles.</p>
              </div>
            </div>
        </div>
    </section>
