<!-- Publications Section -->
    <section class="success white_link" id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publications</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3>Papers and Journals</h3>
                    <p><a href="https://www.researchgate.net/profile/Jan_Renz" target="_blank">For a full list of my papers please check my Profile page at ResearchGate</a></p>
                </div>
                <div class="col-lg-6">
                    <h3>Talks</h3>
                    <p>You will find some of my talks on <a href="https://www.tele-task.de/archive/lecturer/5282/" target="_blank">Tele-TASK</a></p>
                </div>
            </div>
        </div>
    </section>
